/**
* ------------------------------------------------------------------------------
* COLORS
* ------------------------------------------------------------------------------
**/
$primary-color: #374143;
$secondary-color: #FAFAFA;

$deep-space-sparkle: #4A5F6C;

/**
* ------------------------------------------------------------------------------
* FONT
* ------------------------------------------------------------------------------
**/
$pirmary-font: "Bree Serif", serif;
$secondary-font: "Lato", sans-serif;

/**
* ------------------------------------------------------------------------------
* Ui - kit customization
* ------------------------------------------------------------------------------
**/
$section-default-background: $secondary-color;
$section-primary-background: $primary-color;
$base-heading-color: $primary-color;
$base-body-color: $primary-color;
$base-body-font-family: $secondary-font;
