$header-padding: 50px;
$header-padding-m: 30px;

.section-header {
    padding: $header-padding 0 $header-padding 0;
    font-family: $secondary-font;

    h1 {
        font-family: $pirmary-font;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    .header-bar {
        width: 70px;
        height: 5px;
        background: $primary-color;
    }

    &.header-dark {
        background-color: $primary-color;

        h1 {
            color: $secondary-color;
        }

        .header-bar {
            background: $secondary-color;
        }
    }

    @media (max-width: $breakpoint-medium) {  
        padding: $header-padding-m 0 $header-padding-m 0;

        &#about {
            padding-bottom: 0;
        }
    }
}