/**
* ------------------------------------------------------------------------------
* offcanvas bullshit to style theme ...
* ------------------------------------------------------------------------------
**/
@mixin uk-nav-normal () {
    color: $primary-color;
    font-family: $secondary-font;
    opacity: 0.6;
}

@mixin uk-nav-hover-focus () {
    color: $primary-color;
    font-family: $secondary-font;
    opacity: 1;
}

.uk-offcanvas-bar .uk-nav-primary > li > a { 
    @include uk-nav-normal();

    &:hover, &:focus {
        @include uk-nav-hover-focus();
    } 
}

.uk-offcanvas-bar .uk-nav-primary > li.uk-active > a {
    @include uk-nav-normal();
}


.uk-offcanvas-bar .uk-close { 
   @include uk-nav-normal();

    &:hover, &:focus {
        @include uk-nav-hover-focus();
    }
}

/**
* ------------------------------------------------------------------------------
* footer overrides 
* ------------------------------------------------------------------------------
**/

footer {
    a, .uk-link {
        color: lighten($deep-space-sparkle, 10%);
    }

    a:hover, a:focus, .uk-link:hover, .uk-link:focus {
        color: lighten($deep-space-sparkle, 10%);
    }
}

/**
* ------------------------------------------------------------------------------
* section about, i more and more dislike this !!!
* ------------------------------------------------------------------------------
**/

.section-about {
    padding-top: 0;

    @media (min-width: $breakpoint-medium) {  
        padding-top: 0;
    }
}